body {
    display: flex;
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);

    background-size: cover;
    flex-direction: column;
    justify-content: flex-start;

  }

#logo{
    width: 80px;
    height: auto;
    padding-left: 2rem;
    padding-top: 2rem;
}

.main-page
{
    
}

.lead-line{
    margin-top: 10vh;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    padding-left: 2rem;
    padding-right: 2rem;

}

.tag-line{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    padding-left: 2rem;
    padding-top: 6rem; 
  
    position: absolute; 
    bottom: 1rem;
}

#chatgpt{
    height: 10px;
    width: auto;
    transform: translateY(2px);
}

#schematk{
    height: 10px;
    width: auto;
    transform: translateY(2px);
}

.start-here{
    position: absolute;
    bottom: 65px;
    right: 125px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 900;
    font-size: 25px;
}