body {
    display: flex;
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);

    background-size: cover;
    flex-direction: column;
    justify-content: flex-start;

  }

#logo{
    width: 80px;
    height: auto;
    padding-left: 2rem;
    padding-top: 2rem;
}

.main-page
{
    
}

.lead-line{
    margin-top: 10vh;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    padding-left: 2rem;
    padding-right: 2rem;

}

.sponsor-line{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    padding-left: 2rem;
    padding-top: 3rem;
}

.tag-line{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    padding-left: 1rem;
   
  
    position: absolute; 
    bottom: 1rem;
}

#epic-logo{
    height: 50px;
    width: auto;
    padding-left: 2rem;
    padding-top: 2rem;
}

#bim8-logo{
    height: 40px;
    width: auto;
    padding-left: 2rem;
    padding-top: 2rem;
}

#chatgpt{
    height: 15px;
    width: auto;
    transform: translateY(2px);
}

#schematk{
    height: 20px;
    width: auto;
    transform: translateY(4px);
}

#donate-image{
    padding-left: 2rem;
    height: auto;
    width: 150px;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
}

.start-here{
    position: absolute;
    bottom: 85px;
    right: 100px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 900;
    font-size: 25px;
}

#downtime{
    margin-top: 10vh;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    padding-left: 2rem;
    padding-right: 2rem;

}